h1,
h6 {
  font-family: Arial;
}

body {
  background-color: rgb(218, 167, 189);
  padding: 10px;
  margin-left: 40px;
  background-image: url("bg.jpg");
  background-repeat: repeat;
  background-blend-mode: screen;
}

p {
  font-family: "Architects Daughter", cursive;
  line-height: 2.3;
}

.architects-daughter-regular {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

#icon {
  width: 200px;
  height: auto;
  clear: both;
  position: absolute;
  float: right;
  right: 0;
  margin-right: 60px;
  margin-top: -360px;
}

button {
  padding: 18px;
  border: none;
  margin: 15px;
  border-radius: 5px;
}
